<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="error" xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}/error.txt"
        layout="${longdate} | ${message} ${onexception:${exception:format=message} ${newline} ${stacktrace} ${newline}"
        archiveFileName="${basedir}/archives/${shortdate}-{#####}.txt"
        archiveAboveSize="102400"
        archiveNumbering="Sequence"
        concurrentWrites="true"
        keepFileOpen="false" />
    <target name="info" xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}/info.txt"
        layout="${longdate} | ${message} ${onexception:${exception:format=message} ${newline} ${stacktrace} ${newline}"
        archiveFileName="${basedir}/archives/${shortdate}-{#####}.txt"
        archiveAboveSize="102400"
        archiveNumbering="Sequence"
        concurrentWrites="true"
        keepFileOpen="false" />
    <target name="console" xsi:type="ColoredConsole" layout="[${date:format=HH\:mm\:ss}]:${message} ${exception:format=message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="error" />
    <logger name="*" minlevel="Info" writeTo="info" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>